@model Ilanify.Domain.Entities.Category

@{
    ViewBag.Title = "title";
    Layout = "_AdminLayout";
}

<h2>Create Category</h2>
<form asp-action="Edit" asp-controller="AdminCategory" method="post">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control"/>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Edit</button>
</form>