@model IEnumerable<Ilanify.Domain.Entities.Category>
@{
    ViewBag.Title = "title";
    Layout = "_AdminLayout";
}


<table class="table">
    <thead>
        <tr>
            <th>Category ID</th>
            <th>Category Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model)
        {
            <tr>
                <td>@category.Id</td>
                <td>@category.Name</td>
                <td>
                    <a href="/Admin/Category/Edit/@category.Id" class="btn btn-primary">Edit</a>
                    <a href="/Admin/Category/Delete/@category.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
