
.detail-page {
    padding-top: 4rem;
    padding-bottom: 2rem;
}

.detail-card {
    background-color: #fff;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-bottom: 2rem;
    margin-top: 0.7rem;
}

.detail-title {
    font-size: 1.8rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 2rem;
}

.detail-main-image {
    width: 100%;
    height: 37rem;
    margin-bottom: 1rem;
}

.thumbnail-container {
    display: flex;
    justify-content: start;
    gap: 1rem;
}

.detail-thumbnail-image {
    width: 20%;
    height: auto;
}

.detail-user-card {
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

.detail-user-image {
    width: 80px;
    height: 80px;
    border-radius: 40%;
    margin-bottom: 1rem;
}

.detail-user-name {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 0.5rem;
    margin-top: 0.7rem;
}

.detail-user-phone {
    display: inline-block;
    font-size: 1rem;
    color: #cc0000;
    text-decoration: none;
    margin-bottom: 1rem;
    background-color: #f2f2f2;
    padding: 0.5rem 2rem;
    margin-top: 2rem;
    border-radius: 12px;
}

.detail-price {
    font-size: 2rem;
    font-weight: bold;
    color: #cc0000;
    text-align: center;
    margin-bottom: 1rem;
}

.attribute {
    font-size: 1rem;
    color: #666;
    margin-bottom: 0.5rem;
    background-color: #f2f2f2;
    padding: 0.5rem;
    border-radius: 8px;
}

.detail-attributes {
    margin-top: 1rem;
}

.attributes {
    margin-top: 2rem;
}

.attribute {
    font-size: 1rem;
    color: #333;
    margin-bottom: 1rem;
    background-color: #f7f7f7;
    padding: 0.5rem;
    border-radius: 8px;
}

.selected-attributes {
    text-align: center;
    margin-bottom: 1rem;
}

.selected-attribute {
    font-size: 1rem;
    color: #333;
    background-color: #f7f7f7;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    display: inline-block;
    border-radius: 20px;
}

.detail-actions {
    margin-top: 2rem;
}

.action-button {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.action-button i {
    position: relative;
    float: left;
    margin-right: 15px;
    padding-left: 30px;
}

.action-button.favorite {
    background-color: #cc0000;
}

.action-button.favorite:hover {
    background-color: #a50202;
}

.action-button.share {
    background-color: #007bff;
}

.action-button.share:hover {
    background-color: #0069d9;
}

@media (max-width: 768px) {
    .thumbnail-container {
        flex-wrap: wrap;
    }

    .detail-thumbnail-image {
        width: 48%;
        margin-bottom: 1rem;
    }
}

.detail-listed-date {
    display: flex;
    align-items: center;
    margin-left: 174px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.detail-listed-date i {
    margin-right: 5px;
    margin-bottom: 1px;
}

.text-muted {
    margin-left: 3px;
}

.estate-id {
    position: absolute;
    padding-left: 2px;
}

.main-image-container {
    position: relative;
}

.image-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 10;
    margin-top: -20px;
}

.left-arrow {
    left: 10px;
}

.right-arrow {
    right: 10px;
}

.thumbnail-navigation {
    position: relative;
    margin-bottom: 1rem;
}

.thumbnail-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    cursor: pointer;
    padding: 10px;
    z-index: 10;
}

.left-arrow {
    left: 10px;
}

.right-arrow {
    right: 10px;
}

.thumbnails-wrapper {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 1rem;
    padding: 0.5rem;
    margin-left: 40px;
    margin-right: 40px;
}

.detail-thumbnail-image {
    width: 23%;
    height: auto;
    scroll-snap-align: start;
    cursor: pointer;
}

@media (max-width: 768px) {
    .detail-thumbnail-image {
        width: 48%;
    }
}