<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Ilanify.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/ListRealEstatesByLocation/style.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/RealEstateDetail/style.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/Ilanify.Web.styles.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/CreateRealEstate/style.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/Profile/style.css" asp-append-version="true"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

</head>
<body>
<header>
    @await Html.PartialAsync("/Views/Default/_Navbar.cshtml")
    @if (ViewData["Title"] == "Anasayfa")
    {
        <section class="hero-section">
            <div class="container d-flex flex-column align-items-center justify-content-center fs-1">
                <div class="search-container">
                    <form id="searchForm" method="GET" action="/RealEstate/Search">
                        <input class="search-input" type="search" placeholder="İlan no,ilan başlığı veya konum adıyla arayın (Örn. 22, Satılık, İstanbul" aria-label="Search" name="searchText">
                        <button class="search-button" type="submit">Ara</button>
                    </form>

                    <div class="icon-categories d-flex justify-content-center">
                        <a href="/RealEstate/ListRealEstatesByType?realEstateType=1" class="icon-category d-flex flex-column align-items-center"><i class="fas fa-home"></i> <span>Satılık</span></a>
                        <a href="/RealEstate/ListRealEstatesByType?realEstateType=2" class="icon-category d-flex flex-column align-items-center"><i class="fas fa-key"></i> <span>Kiralık</span></a>
                        <a href="/RealEstate/ListRealEstatesByCategory?categoryId=2" class="icon-category d-flex flex-column align-items-center"><i class="fas fa-building"></i> <span>Ev</span></a>
                        <a href="/RealEstate/ListRealEstatesByCategory?categoryId=3" class="icon-category d-flex flex-column align-items-center"><i class="fas fa-store"></i> <span>İşyeri</span></a>
                        <a href="/RealEstate/ListRealEstatesByCategory?categoryId=4" class="icon-category d-flex flex-column align-items-center"><i class="fas fa-warehouse"></i> <span>Arsa</span></a>
                    </div>
                </div>
            </div>
        </section>

    }
</header>

<div class="container main-container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@if (ViewBag.SpecificScript == true)
{
    <script src="~/js/CreateRealEstate/index.js"></script>
}
@if (ViewBag.DetailSpecificScript == true)
{
    <script src="~/js/RealEstateDetail/index.js"></script>
}
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>