html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #f2f2f2;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.navbar {
    background-color: #fff;
    height: 80px;
    margin: 20px;
    border-radius: 16px;
    padding: 0.5rem;
    transition: top 0.3s;
    position: fixed;
    z-index: 9999;
}

.navbar-brand {
    font-weight: 500;
    color: #c51b2e;
    font-size: 24px;
    transition: 0.3s color;
}

.navbar-toggler {
    border: none;
    font-size: 1.25rem;
}

.navbar-toggler:focus, .btn-close:focus {
    outline: none;
    box-shadow: none;
}

.nav-link {
    color: #666777;
    font-weight: 500;
    position: relative;
}

.nav-link:hover, .nav-link.active {
    color: #000;
}

@media (min-width: 991px) {
    .nav-link::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        height: 2px;
        background-color: #c51b2e;
        visibility: hidden;
        transition: ease-in-out 0.1s;
    }

    .nav-link:hover::before, .nav-link.active::before {
        width: 100%;
        visibility: visible;
    }
}

.hero-section {
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.hero-section::before {
    background-color: rgba(0, 0, 0, 0.6);
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.navbar {
    background-color: #fff;
    height: 80px;
    margin-bottom: 20px;
    border-radius: 16px;
    padding: 0.5rem;
    z-index: 1050;
    position: fixed;
}

.navbar-brand {
    font-weight: 500;
    color: #c51b2e;
    font-size: 24px;
    transition: 0.3s color;
}

.estate-button {
    background-color: #c51b2e;
    color: #fff;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color;
    margin-left: 10px;
    position: relative;
}

.estate-button:hover {
    background-color: #c51b2e;
    color: #000000;
}

.navbar-toggler {
    border: none;
    font-size: 1.25rem;
}

.navbar-toggler:focus, .btn-close:focus {
    outline: none;
    box-shadow: none;
}

.nav-link {
    color: #666777;
    font-weight: 500;
    position: relative;
}

.nav-link:hover, .nav-link.active {
    color: #000;
}

@media (min-width: 991px) {
    .nav-link::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        height: 2px;
        background-color: #c51b2e;
        visibility: hidden;
        transition: ease-in-out 0.1s;
    }

    .nav-link:hover::before, .nav-link.active::before {
        width: 100%;
        visibility: visible;
    }
}

.hero-section {
    background: url(../images/hero-section.webp) no-repeat center;
    background-size: cover;
    width: 100%;
    height: 55vh;
    position: relative;
}

.hero-section::before {
    background-color: rgb(84, 4, 4, 0.5);
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 55vh;
}

.main-container {
    padding-top: 3.5rem;
}

@media (max-width: 767px) {
    .estate-button {
        font-size: 10px;
        padding: 6px 12px;
    }
}

.search-container {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search-input {
    height: 60px;
    width: 550px;
    padding: 20px;
    margin-right: 5px;
    border: 1px solid #ccc;
    border-radius: 50px;
    font-size: 16px;
}

.search-button {
    height: 60px;
    width: 80px;
    background-color: #c51b2e;
    color: white;
    border: none;
    border-radius: 40px;
    padding: 0 20px;
    cursor: pointer;
    font-size: 16px;
}

.search-button:hover {
    background-color: #000000;
}

.create-page {
    padding-top: 4rem;
    padding-bottom: 2rem;
}





