html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #f2f2f2;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.navbar {
    background-color: #fff;
    height: 80px;
    margin: 20px;
    border-radius: 16px;
    padding: 0.5rem;
    transition: top 0.3s;
    position: fixed;
    z-index: 9999;
}

.navbar-brand {
    font-weight: 500;
    color: #c51b2e;
    font-size: 24px;
    transition: 0.3s color;
}

.navbar-toggler {
    border: none;
    font-size: 1.25rem;
}

.navbar-toggler:focus, .btn-close:focus {
    outline: none;
    box-shadow: none;
}

.nav-link {
    color: #666777;
    font-weight: 500;
    position: relative;
}

.nav-link:hover, .nav-link.active {
    color: #000;
}

@media (min-width: 991px) {
    .nav-link::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        height: 2px;
        background-color: #c51b2e;
        visibility: hidden;
        transition: ease-in-out 0.1s;
    }

    .nav-link:hover::before, .nav-link.active::before {
        width: 100%;
        visibility: visible;
    }
}

.hero-section {
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.hero-section::before {
    background-color: rgba(0, 0, 0, 0.6);
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.navbar {
    background-color: #fff;
    height: 80px;
    margin-bottom: 20px;
    border-radius: 16px;
    padding: 0.5rem;
    z-index: 1050;
    position: fixed;
}

.navbar-brand {
    font-weight: 500;
    color: #c51b2e;
    font-size: 24px;
    transition: 0.3s color;
}

.estate-button {
    background-color: #c51b2e;
    color: #fff;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color;
    margin-left: 10px;
    position: relative;
}

.estate-button:hover {
    color: #ffffff;
    background-color: #000000;
}

.navbar-toggler {
    border: none;
    font-size: 1.25rem;
}

.navbar-toggler:focus, .btn-close:focus {
    outline: none;
    box-shadow: none;
}

.nav-link {
    color: #666777;
    font-weight: 500;
    position: relative;
}

.nav-link:hover, .nav-link.active {
    color: #000;
}

@media (min-width: 991px) {
    .nav-link::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        height: 2px;
        background-color: #c51b2e;
        visibility: hidden;
        transition: ease-in-out 0.1s;
    }

    .nav-link:hover::before, .nav-link.active::before {
        width: 100%;
        visibility: visible;
    }
}

.hero-section {
    background: url(../images/hero-section.webp) no-repeat center;
    background-size: cover;
    width: 100%;
    height: 55vh;
    position: relative;
}

.hero-section::before {
    background-color: rgb(84, 4, 4, 0.5);
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 55vh;
}

.main-container {
    padding-top: 3.5rem;
}

@media (max-width: 767px) {
    .estate-button {
        font-size: 10px;
        padding: 6px 12px;
    }
}

.search-container {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search-input {
    height: 60px;
    width: 550px;
    padding: 20px;
    margin-right: 5px;
    border: 1px solid #ccc;
    border-radius: 50px;
    font-size: 16px;
}

.search-button {
    height: 60px;
    width: 80px;
    background-color: #c51b2e;
    color: white;
    border: none;
    border-radius: 40px;
    padding: 0 20px;
    cursor: pointer;
    font-size: 16px;
}

.search-button:hover {
    background-color: #000000;
}

.create-page {
    padding-top: 4rem;
    padding-bottom: 2rem;
}

.profile-page {
    padding-top: 4rem;
    padding-bottom: 2rem;
}

.leftbar {
    width: 250px;
    background-color: #f8f9fa;
    margin-top: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    overflow: hidden;
}

.leftbar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.leftbar-menu li {
    border-bottom: 1px solid #dee2e6;
    position: relative;
}

.leftbar-menu li:last-child {
    border-bottom: none;
}

.leftbar-menu li a {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    color: #333;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.leftbar-menu li a:hover {
    background-color: #e2e6ea;
    color: #c51b2e;
}

.leftbar-menu li a.active,
.leftbar-menu li a:hover {
    font-weight: bold;
    color: #c51b2e;
}

.submenu {
    background-color: #f8f9fa;
    border-top: 1px solid #dee2e6;
    padding-left: 20px;
    display: block;
}

.submenu li {
    border-bottom: 1px solid #dee2e6;
    position: relative;
    text-decoration: none;
    list-style: none;
}

.submenu li a {
    color: #666;
    padding: 10px 15px;
    display: block;
    text-decoration: none;
}

.submenu li a:hover {
    background-color: #e2e6ea;
    color: #c51b2e;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.leftbar-menu li a:before {
    font-family: 'FontAwesome';
    margin-right: 10px;
    width: 16px;
    text-align: center;
}

.leftbar-menu li a[href="/Account/Profile"]:before {
    content: '\f007';
}

.leftbar-menu li a[href="/Account/RealEstates"]:before {
    content: '\f03e';
}

.leftbar-menu li a[href="/Account/InactiveRealEstates"]:before {
    content: '\f02d';
}

.leftbar-menu li a[href="/Account/Logout"]:before {
    content: '\f08b';
}

.icon-categories {
    position: absolute;
    bottom: -75px; 
    width: 100%; 
    display: flex;
    justify-content: space-around; 
    gap: 40px;
    padding-right: 65px;
}

.icon-category {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    color: #c51b2e;
}

.icon-category i {
    font-size: 24px;
    color: #ffffff;
}

.icon-category span {
    font-size: 1rem;
    color: #ffffff;
}

.icon-category:hover {
    color: #c8c0c0;
}

.icon-category:hover i {
    color: #c8c0c0;
}

.icon-category:hover span {
    color: #c8c0c0;
}

.home-card {
    margin-bottom: 20px;
    border: none;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.home-card:hover {
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.6);
    transform: translateY(-5px);
}

.home-card-img-top {
    width: 100%;
    height: 250px; 
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.home-card-body {
    padding: 15px;
    text-align: center;
}

.home-card-title {
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 1.25rem; 
}

.home-card-text {
    margin-bottom: 15px;
    color: #666;
}

.home-card-btn {
    background-color: #c51b2e;
    color: white;
    border: none;
    border-radius: 32px;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.home-card-btn:hover {
    background-color: #000000;
    color: white;
}