.location-page {
    padding-top: 4rem;
}

.location-page .row > div {
    margin-bottom: 20px;
}

.listing-date {
    float: right;
    margin-left: 788px;
    margin-top: 10px;
}

.estate-price {
    font-size: 22px;
    font-weight: 500;
    color: #000;
    margin-bottom: 10px;
}

.estate-title {
    font-size: 19px;
    font-weight: 500;
    color: #000;
    margin-bottom: 10px;
}

.estate-property {
    font-size: 16px;
    font-weight: 500;
    color: #666777;
    margin-bottom: 10px;
}

.location-info {
    padding-left: 15px;
    position: absolute;
}

@media (max-width: 768px) {
    .listing-date {
        margin-left: 200px;
        margin-top: 0;
        margin-bottom: 10px;
    }
}

@media (max-width: 768px) {
    .location-info {
        position: relative;
    }
}

@media (max-width: 768px) {
    .estate-price {
        font-size: 18px;
    }
}

@media (max-width: 768px) {
    .estate-title {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .estate-property {
        font-size: 14px;
    }
}



