@model Ilanify.Areas.Admin.Models.ViewModels.ChangeRoleViewModel

@{
    ViewBag.Title = "Change Role";
    Layout = "_AdminLayout";
}

<h2>Change Role for @Model.UserEmail</h2>


<form asp-action="AddRole" method="post">
    <input type="hidden" asp-for="UserId" />
    <div class="form-group">
        <label asp-for="UserEmail"></label>
        <input asp-for="UserEmail" class="form-control" readonly />
    </div>
    <div class="form-group">
        <label asp-for="UserRoles"></label>
        <select asp-for="UserRoles" class="form-control" asp-items="@(new SelectList(Model.AllRoles, "Name", "Name"))" multiple>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>