<div class="card leftbar">
    <ul class="list-group list-group-flush leftbar-menu">
        <li class="list-group-item"><a href="/Account/Profile" class="leftbar-link active">Profil</a></li>
        <li class="list-group-item"><a href="/Account/RealEstates" class="leftbar-link">İlanlarım</a></li>
        <li class="list-group-item"><a href="/Account/Logout" class="leftbar-link">Çıkış Yap</a></li>
    </ul>
</div>