@using Microsoft.AspNetCore.Identity
@using Ilanify.Domain.Entities
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<nav class="navbar navbar-expand-lg fixed-top">
    <div class="container">
        <a class="navbar-brand me-auto" href="/RealEstate/Index">
            <img src="/images/main-logo.png" alt="Logo" class="logo">
        </a>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Logo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-center flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link mx-lg-3" aria-current="page" href="/RealEstate/Index">Anasayfa</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mx-lg-3" href="/RealEstate/ListRealEstatesByType?realEstateType=1">Satılık</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mx-lg-3" href="/RealEstate/ListRealEstatesByType?realEstateType=2">Kiralık</a>
                    </li>
                </ul>
            </div>
        </div>
        @if (SignInManager.IsSignedIn(User))
        {
            <a href="/Account/GetFavorites"><i class="fa-regular fa-heart fa-xl"></i></a>
            <a href="/Account/Profile" class="estate-button">
                @{
                    var user = UserManager.Users.FirstOrDefault(u => u.Id == UserManager.GetUserId(User));
                    var abbreviatedName = $"{user.FirstName} {user.LastName.Substring(0, 1)}.";
                }
                @abbreviatedName
            </a>
            <a href="/RealEstate/Create" class="estate-button">İlan Ver</a>
            <a href="/Account/Logout" class="estate-button">Çıkış Yap</a>
        }
        else
        {
            <a href="/Account/Login" class="estate-button">Giriş Yap</a>
            <a href="/Account/Login" class="estate-button">İlan Ver</a>
        }
        <button class="navbar-toggler pe-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>