@using Microsoft.AspNetCore.Identity
@using Ilanify.Domain.Entities
@inject SignInManager<ApplicationUser> SignInManager

<nav class="navbar navbar-expand-lg fixed-top">
    <div class="container">
        <a class="navbar-brand me-auto" href="#">Logo</a>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Logo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-center flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mx-lg-2" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mx-lg-2" href="#">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mx-lg-2" href="#">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
        @if (SignInManager.IsSignedIn(User))
        {
            <a href="/Account/Profile" class="estate-button">Hesabım</a>
            <a href="/RealEstate/Create" class="estate-button">İlan Ver</a>
            <a href="/Account/Logout" class="estate-button">Çıkış Yap</a>
        }
        else
        {
            <a href="/Account/Login" class="estate-button">Giriş Yap</a>
            <a href="/Account/Login" class="estate-button">İlan Ver</a>
        }
        <button class="navbar-toggler pe-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>