@model int

@{
    ViewBag.Title = "Real Estate Dashboard";
    Layout = "_AdminLayout";
}

<div class="container-fluid">
    <h2>Welcome to Your Real Estate Dashboard</h2>

    <div class="row">
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
                <div class="card-body" style="background-color: #7986cb; color: white;">
                    <h5 class="card-title">Total Real Estates</h5>
                    <p class="card-text" style="font-size: 24px;">@Model</p>
                </div>
            </div>
        </div>


        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
                <div class="card-body" style="background-color: #64b5f6; color: white;">
                    <h5 class="card-title">Total Agents</h5>
                    <p class="card-text" style="font-size: 24px;">@Model</p>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4">
        </div>
    </div>
</div>
