@model IEnumerable<Ilanify.Domain.Entities.RealEstate>
@{
    ViewData["Title"] = "Anasayfa";
}

<a asp-action="Create">Yeni İlan Ekle</a>

<table class="table">
    <thead>
    <tr>
        <th>ID</th>
        <th>Başlık</th>
        <th>Açıklama</th>
        <!-- Diğer sütunları ekleyebilirsiniz -->
    </tr>
    </thead>
    <tbody>
    @foreach (var realEstate in Model)
    {
        <tr>
            <td>@realEstate.Id</td>
            <td>@realEstate.Title</td>
            <td>@realEstate.Description</td>
            <!-- Diğer sütun değerlerini ekleyebilirsiniz -->
        </tr>
    }
    </tbody>
</table>